<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">LOCADORA</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="#">Loja</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="#">Meus Alugueis<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          Conta
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">
            <div data-toggle="modal" data-target="#changeInfoModal"><i class="bi bi-pencil"></i> Editar
              informações</div>
          </a>
          <a class="dropdown-item" href="#">
            <div data-toggle="modal" data-target="#changePasswordModal">
              <i class="bi bi-key"></i> Alterar senha
          </a>
        </div>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" href="#">
          <div data-toggle="modal" data-target="#logoutModal">
            <i class="bi bi-box-arrow-left"></i> Sair
        </a>
  </div>
  </div>
  </li>
  </ul>
  <form class="form-inline my-2 my-lg-0">
    <input class="form-control mr-sm-2" type="search" placeholder="Pesquisar veiculos" aria-label="Search">
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit"><i class="bi-search"></i>
      Pesquisar</button>
  </form>
  </div>
</nav>

<!--MODAL CHANGE PASSWORD-->
<%- include("../modal/changePasswordModal"); %>
  <!--MODAL CHANGE INFO-->
  <%- include("../modal/changeInfoModal"); %>
    <!--MODAL LOGOUT-->
    <%- include("../modal/logoutModal"); %>