<div class="modal fade" id="changeInfoModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Editar informações</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label for="name">Nome completo</label>
            <input type="text" name="name" class="form-control" id="name" placeholder="Insira seu nome">

            <label for="email">Email</label>
            <input type="email" name="email" class="form-control" id="email" placeholder="Insira seu email">

            <div class="row">
              <div class="col-6">
                <label for="birthDate" style="margin-left: 10px;  margin-top: 10px">Data de nascimento</label>
                <input type="date" name="birthDate" class="form-control date" id="birthDate">
              </div>
              <div class="col-6">
                <label for="gener" style="margin-left: 10px; margin-top: 10px;">Gênero</label>
                <select class="form-control" id="gener" name="gener" aria-label="Default select example">
                  <option value="Feminino">Feminino</option>
                  <option value="Masculino">Masculino</option>
                  <option value="Outro">Outro</option>
                </select>
              </div>
            </div>

            <label for="phone" style="margin-top: 10px">Telefone</label>
            <input type="phone" name="phone" class="form-control" id="phone" placeholder="Insira seu telefone" required>

          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
        <button type="button" class="btn btn-success">Salvar alterações</button>
      </div>
    </div>
  </div>
</div>