<div class="modal fade" id="changePasswordModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Alterar senha</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label for="oldPassword" class="col-form-label">Senha antiga:</label>
            <input type="password" class="form-control" id="oldPassword">
            <label for="newPassword" class="col-form-label">Nova senha:</label>
            <input type="password" class="form-control" id="newPassword">
            <label for="confirmNewPassword" class="col-form-label">Confirme a nova senha:</label>
            <input type="password" class="form-control" id="confirmNewPassword">
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
        <button type="button" class="btn btn-success">Alterar senha</button>
      </div>
    </div>
  </div>
</div>